.restaurants {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 2rem;
  text-decoration: none;
}

.card-container {
  width: 32.33%;
  box-sizing: border-box;
  padding: 10px;
}

.textHeader {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.customLink {
  text-decoration: none;
  color: inherit;
}
